<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-positive tabs-icon-only ">

  <!-- Library Tab -->
  <ion-tab title="Get My College" icon-on="ion-ios-search-strong" icon-off="ion-ios-search" href="#/tab/main">
    <ion-nav-view name="tab-main"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Documents" icon-on="ion-ios-copy" icon-off="ion-ios-copy-outline" href="#/tab/documents">
    <ion-nav-view name="tab-documents"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Seat Distribution" icon-on="ion-ios-pie" icon-off="ion-ios-pie-outline" href="#/tab/seatdist">
    <ion-nav-view name="tab-seatdist"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Institute" icon-on="ion-ios-list" icon-off="ion-ios-list-outline" href="#/tab/institute">
    <ion-nav-view name="tab-institute"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Unknown" href="#/tab/unknown">
    <ion-nav-view name="tab-unknown"></ion-nav-view>
  </ion-tab>

</ion-tabs>
